<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Bestellung erfolgreich</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<header class="header">
    <h1>IU-Testshop</h1>
</header>

<main class="container">

    <section class="hero">
        <h2>Bestellung erfolgreich</h2>

        <p>
            Vielen Dank für Ihre Bestellung.
            Die Bestellung wurde erfolgreich gespeichert.
        </p>

        <a class="button-link" href="/products">
            Weiter einkaufen
        </a>
    </section>

</main>

</body>
</html>